<section>
        <div class="services" id="services">
            <div class="container">
                <h1 class="sub-title">My <span>Services</span></h1>
                <div class="services-list">
                    <div>
                        <i class="bx bx-code" style="color:#00eeff"></i>
                        <h1>Backend Development</h1>
                        <p>I build robust, secure, and scalable backends using technologies like Firebase, Node.js, and SQL.
                             From setting up APIs to managing authentication and databases,
                              I make sure the logic behind the scenes is solid and efficient.
                               I focus on performance, security, and clean code.
                        </p>
                        <a href="mailto:faithlebepe@gmail.com" class="read">Work with me</a>
                    </div>
                    <div>
                        <i class="bx bx-crop"></i>
                        <h1>Web Application Development</h1>
                        <p>I create dynamic and responsive web applications using Angular and Firebase.
                             Whether it’s an e-commerce site, portfolio, or dashboard
                             , I bring ideas to life with modern design, smooth user experience, and full functionality,
                              from front-end to back-end.
                        </p>
                        <a href="mailto:faithlebepe@gmail.com" class="read">Work with me</a>
                    </div>
                    <div>
                        <i class="bx bxl-android" style="color:#00eeff"></i>
                        <h1>Mobile Application Development</h1>
                        <p>Using frameworks like Ionic and Angular, I build cross-platform mobile apps that work seamlessly on Android and iOS.
                             I focus on intuitive interfaces, fast performance, and integrating native features like camera,
                              barcode scanners, and more.
                        </p>
                        <a href="mailto:faithlebepe@gmail.com" class="read">Work with me</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
