<section class="about" id="about">
        <div class="about-img">
            <img src="assets/Faith.jpg" >
        </div>
        <div class="about-text">
            <h2>About  <span>Me</span></h2>
            <h4>Full Stack Developer</h4>
            <p>
                I'm a driven juniour fullstack developer with a passion for creativity, innovation, and - lets be honest food!
                What fuels my enthusiasm for tech is identifying real-world problems and crafting solutions that make tangible impact. 
                There's no feeling like the thrill of overcoming a challenge and the smile of a satisfaction on someones's face.
                When I'm not geeking out over code, you can find me sampling new cuisines, dabbling in various hobbies, or planning my next adventure.
                <br>
                <br>
                <span style="size: 4rem;">My message to you?</span>
                <br>
                Be patient with yourself, with persistence and determination even the impossible becomes achievable.

                <a href="#" class="btn-box">Lets Talk</a>
            </p>
        </div>
    </section>