  <section>
        <div id="project" >
            <div class="main-text" id="project">
                <h2>Latest <span>Projects</span></h2>

                <div class="portfolio-content">
                    <div class="row">
                        <img src="assets/app.jpg" alt="">
                        <div class="layer">
                            <h5>UI/UX Design</h5>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo quaerat harum, nisi natus commodi fugit numquam, est sed culpa ut doloremque praesentium deserunt soluta vel vitae provident accusantium nulla cum!</p>
                            
                            <div class="project-links">
                            <a href="https://github.com/your-repo" target="_blank">
                                <i class="bx bxl-github"></i>
                            </a>
                            <a href="https://your-deployed-site.com" target="_blank">
                                <i class="bx bx-link-external"></i>
                            </a>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <img src="assets/UI_UX.jpg" alt="">
                        <div class="layer">
                            <h5>UI/UX Design</h5>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo quaerat harum, nisi natus commodi fugit numquam, est sed culpa ut doloremque praesentium deserunt soluta vel vitae provident accusantium nulla cum!</p>
                            
                            <div class="project-links">
                            <a href="https://github.com/your-repo" target="_blank">
                                <i class="bx bxl-github"></i>
                            </a>
                            <a href="https://your-deployed-site.com" target="_blank">
                                <i class="bx bx-link-external"></i>
                            </a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <img src="assets/web.jpg" alt="">
                        <div class="layer">
                            <h5>UI/UX Design</h5>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo quaerat harum, nisi natus commodi fugit numquam, est sed culpa ut doloremque praesentium deserunt soluta vel vitae provident accusantium nulla cum!</p>
                            
                            <div class="project-links">
                            <a href="https://github.com/your-repo" target="_blank">
                                <i class="bx bxl-github"></i>
                            </a>
                            <a href="https://your-deployed-site.com" target="_blank">
                                <i class="bx bx-link-external"></i>
                            </a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <img src="assets/app.jpg" alt="">
                        <div class="layer">
                            <h5>UI/UX Design</h5>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo quaerat harum, nisi natus commodi fugit numquam, est sed culpa ut doloremque praesentium deserunt soluta vel vitae provident accusantium nulla cum!</p>
                            
                            <div class="project-links">
                            <a href="https://github.com/your-repo" target="_blank">
                                <i class="bx bxl-github"></i>
                            </a>
                            <a href="https://your-deployed-site.com" target="_blank">
                                <i class="bx bx-link-external"></i>
                            </a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <img src="assets/UI_UX.jpg" alt="">
                        <div class="layer">
                            <h5>UI/UX Design</h5>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo quaerat harum, nisi natus commodi fugit numquam, est sed culpa ut doloremque praesentium deserunt soluta vel vitae provident accusantium nulla cum!</p>
                            
                            <div class="project-links">
                            <a href="https://github.com/your-repo" target="_blank">
                                <i class="bx bxl-github"></i>
                            </a>
                            <a href="https://your-deployed-site.com" target="_blank">
                                <i class="bx bx-link-external"></i>
                            </a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <img src="assets/web.jpg" alt="">
                        <div class="layer">
                            <h5>UI/UX Design</h5>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo quaerat harum, nisi natus commodi fugit numquam, est sed culpa ut doloremque praesentium deserunt soluta vel vitae provident accusantium nulla cum!</p>
                            
                            <div class="project-links">
                            <a href="https://github.com/your-repo" target="_blank">
                                <i class="bx bxl-github"></i>
                            </a>
                            <a href="https://your-deployed-site.com" target="_blank">
                                <i class="bx bx-link-external"></i>
                            </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
