  <section id="project">
            <div class="main-text">
                <h2>Latest <span>Projects</span></h2>

                <div class="portfolio-content">
                    <div class="row">
                        <img src="assets/web.jpg" alt="">
                        <div class="layer">
                            <h5>Angular + Firebase</h5>
                            <p>A modern meal prep site where users explore weekly meals, view images and videos, and order based on preferences. Built with Firebase for real-time data and Angular Material UI.</p>
                            
                            <div class="project-links">
                                <a href="https://github.com/FaithLebepe/Meal-Prep" target="_blank">
                                    <i class="bx bxl-github"></i>
                                </a>
                                <a href="https://meal-prep-25.web.app" target="_blank">
                                    <i class="bx bx-link-external"></i>
                                </a>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <img src="assets/animal.jpg" alt="">
                        <div class="layer">
                            <h5>Angular + Firebase</h5>
                            <p>A fun and educational app to explore, filter, and learn about different animals. Clean UI with dynamic filtering and responsive design using Angular standalone components.</p>
                            
                            <div class="project-links">
                            <a href="https://github.com/livhu06/pacifish-animal-collection" target="_blank">
                                <i class="bx bxl-github"></i>
                            </a>
                            <a href="https://pacifish-animal-collecti-b617a.web.app/" target="_blank">
                                <i class="bx bx-link-external"></i>
                            </a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <img src="assets/event.jpg" alt="">
                        <div class="layer">
                            <h5>UI/UX · Ionic + Angular</h5>
                            <p>Built as a design prototype. The project includes smooth navigation across pages and a mobile-friendly interface, offering a glimpse into how I design engaging and organized event planning tools.</p>
                            
                            <div class="project-links">
                            <a href="https://github.com/FaithLebepe/events" target="_blank">
                                <i class="bx bxl-github"></i>
                            </a>
                            <a href="https://evnts-planner.web.app" target="_blank">
                                <i class="bx bx-link-external"></i>
                            </a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <img src="assets/finance.png" alt="">
                        <div class="layer">
                            <h5>UI/UX · Ionic + Angular</h5>
                            <p>I focused on building a clean, responsive finance dashboard with intuitive navigation and layout. While functionality was not the focus, this prototype allowed me to explore component-based design and cross-platform styling within Ionic.</p>
                            
                            <div class="project-links">
                            <a href="https://github.com/FaithLebepe/finance-app" target="_blank">
                                <i class="bx bxl-github"></i>
                            </a>
                            <a href="https://finance-app-24.web.app/" target="_blank">
                                <i class="bx bx-link-external"></i>
                            </a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <img src="assets/scan.png" alt="">
                        <div class="layer">
                            <h5>Ionic + Capacitor</h5>
                            <p>A lightweight mobile scanner that reads and stores barcode data. Integrated with Capacitor plugins for camera access</p>
                            
                            <div class="project-links">
                            <a href="https://github.com/FaithLebepe/Scanner" target="_blank">
                                <i class="bx bxl-github"></i>
                            </a>
                            <a href="https://scanner-app-10.web.app/" target="_blank">
                                <i class="bx bx-link-external"></i>
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
