<section id="header">
  <app-header></app-header>
</section>

<section class="home" id="home">
        <div class="home-content">
            <h3>Hello, It's Me</h3>
            <h1>Faith Lebepe</h1>
            <h3>And I'm a <span class="text"></span></h3>
            <p>
                I'm a driven juniour fullstack developer with a passion for creativity, innovation, and - lets be honest food!

            </p>
            <div class="home-sci">
                <a href="#" style="--i:7"><i class='bx bxl-linkedin'></i></a>
                <a href="#" style="--i:8"><i class='bx bx-envelope' ></i></a>
                <a href="#" style="--i:8"><i class='bx bxl-github' ></i></a>
                <a href="#" style="--i:10"><i class='bx bxs-phone'></i></a>
            </div>
            <a href="#" class="btn-box">More About Me</a>
        </div>
        <div class="image">
            <img src="assets/Faith.jpg" >
        </div>
</section>


<section id="about">
  <app-about></app-about>
</section>

<section id="skills">
  <app-skills></app-skills>
</section>

<section id="projects">
  <app-projects></app-projects>
</section>

<section id="services">
  <app-services></app-services>
</section>


<section id="contact">
  <app-contact></app-contact>
</section>

<section id="footer">
  <app-footer></app-footer>
</section>