<h1 class="sub-title">My <span>Skills</span></h1>

    <section>
        <div class="container1" id="skills">
            <h1 class="heading1">Technical Skills</h1>
            <div class="Technical-bars">
                <div class="grid">
                    <div class="bar">
                        <i class="bx bxl-html5" style="color:#c95d2e"></i>
                        <div class="info">
                            <span>HMTL</span>
                        </div>
                        <div class="progress-line html">
                            <span></span>
                        </div>
                    </div>
                    <div class="bar">
                        <i class="bx bxl-css3" style="color:#147bbc"></i>
                        <div class="info">
                            <span>CSS</span>
                        </div>
                        <div class="progress-line css">
                            <span></span>
                        </div>
                    </div>
                    <div class="bar">
                        <i class="bx bxl-typescript" style="color:#147bbc"></i>
                        <div class="info">
                            <span>TypeScript</span>
                        </div>
                        <div class="progress-line typescript">
                            <span></span>
                        </div>
                    </div>
                    <div class="bar">
                        <i class="bx bxl-angular" style="color:#f03f27"></i>
                        <div class="info">
                            <span>Angular</span>
                        </div>
                        <div class="progress-line angular">
                            <span></span>
                        </div>
                    </div>
                    <div class="bar">
                        <i class="bx bxl-ionic">
                            <img  class="icons-img" src="assets/ionic.png" >
                        </i>
                        <div class="info">
                            <span>Ionic</span>
                        </div>
                        <div class="progress-line ionic">
                            <span></span>
                        </div>
                    </div>
                    <div class="bar">
                        <i class="bx bxl-java" style="color:#147bbc"></i>
                        <div class="info">
                            <span>Java</span>
                        </div>
                        <div class="progress-line java">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="grid">
                    <div class="bar">
                        <i class="bx bxl-python" style="color:#fcf80d"></i>
                        <div class="info">
                            <span>Python</span>
                        </div>
                        <div class="progress-line python">
                            <span></span>
                        </div>
                    </div>
                    <div class="bar">
                        <i class="bx bxl-csharp">
                            <img class="icons-img csharp" src="assets/c-sharp.png" alt="">
                        </i>
                        <div class="info">
                            <span>C#</span>
                        </div>
                        <div class="progress-line c-sharp">
                            <span></span>
                        </div>
                    </div>
                    <div class="bar">
                        <i class="bx bxl-c-plus-plus" style="color:#147bbc"></i>
                        <div class="info">
                            <span>C++</span>
                        </div>
                        <div class="progress-line c-plus-plus">
                            <span></span>
                        </div>
                    </div>
                    <div class="bar">
                        <i class="bx bxl-my-sql" style="color:#147bbc">
                            <img src="assets/mysql.png" class="icons-img" alt="">
                        </i>
                        <div class="info">
                            <span>MySQL</span>
                        </div>
                        <div class="progress-line mysql">
                            <span></span>
                        </div>
                    </div>
                    <div class="bar">
                        <i class="bx bxl-git" style="color:#c9572e"></i>
                        <div class="info">
                            <span>Git</span>
                        </div>
                        <div class="progress-line git">
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container1">
            <h1 class="heading1">Professional Skills</h1>
            <div class="radial-bars">
                <div class="radial-bar">
                    <svg x="0px" y="0px" viewBox="0 0 200 200">
                        <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                        <circle class="path path-1" cx="100" cy="100" r="80"></circle>
                    </svg>
                    <div class="percentage">90%</div>
                    <div class="text">Creativity</div>
                </div>
                <div class="radial-bar">
                    <svg x="0px" y="0px" viewBox="0 0 200 200">
                        <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                        <circle class="path path-2" cx="100" cy="100" r="80"></circle>
                    </svg>
                    <div class="percentage">74%</div>
                    <div class="text">Communication</div>
                </div>
                <div class="radial-bar">
                    <svg x="0px" y="0px" viewBox="0 0 200 200">
                        <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                        <circle class="path path-3" cx="100" cy="100" r="80"></circle>
                    </svg>
                    <div class="percentage">78%</div>
                    <div class="text">Problem Solving</div>
                </div>
                <div class="radial-bar">
                    <svg x="0px" y="0px" viewBox="0 0 200 200">
                        <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                        <circle class="path path-4" cx="100" cy="100" r="80"></circle>
                    </svg>
                    <div class="percentage">80%</div>
                    <div class="text">Teamwork</div>
                </div>
            </div>
        </div>
    </section>