.contact-center {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  text-align: center;
  color: #ededed; /* Adjust as needed */
  background: rgb(6, 34, 51);
}

.contact-center h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: #0ef;
}

.contact-center h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.contact-center p {
  max-width: 600px;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  color: #ccc;
}

.email-btn {
  background-color: #0ef;
  color: #081b29;
  padding: 12px 40px;
  font-weight: 700;
  font-size: 1.1rem;
  border-radius: 30px;
  text-decoration: none;
  box-shadow: 0 0 20px #0ef;
  transition: box-shadow 0.3s ease;
}

.email-btn:hover {
  box-shadow: 0 0 10px #0ef,
              0 0 30px #0ef,
              0 0 40px #0ef;
}
